
html{
    scroll-behavior: smooth;
    overscroll-behavior: none;
    --main:  #0C89BE;
    --mainFade:  #0C89BEcc;
    --secondary: #59b5dd;
}

body{
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(212, 223, 236);
}

/* Header and Nav */
/* Header is used to stretch header across page and make it sticky */
header{
    height: 3.5rem;
    background-color: var(--main);
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 1;
}

/* used to center Header contents and to maintain position while window shrinks or grows */
.navContainer{
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.nav{
    position: relative;
}

.nav .link{
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-weight: 500;
    position: relative;
}

.nav .link:hover::after{
    content: '';
    width: 100%;
    height: .125rem;
    position: absolute;
    top: 1.25rem;
    left: 0;
    background-color: white;
}

.nav .link:active::after{
    content: '';
    width: 100%;
    height: .125rem;
    position: absolute;
    top: 1.25rem;
    left: 0;
    background-color: white;
}

/* Main Content */

main{
    background-color: rgb(242, 242, 242);
    height: max-content;
}

.aboutMe{
    display: flex;
    padding-top: 3rem;
    justify-content: space-around;
    align-items: center;
}

.aboutMe img{
    width: 11.25rem;
    border-radius: 50%;
    top: 100px;
    margin: 2rem;
}

.aboutMe p{
    padding: 2rem;
    border-left: solid 5px var(--main);
}

.aboutMe .verticalDivider{
    height: 10rem;
}

/* Projects */

.spacer{
    content: none;
    height: 50px;
    width: 10px;
}

.projects{
    display: flex;
    justify-content: space-between;
}

h2{
    max-width: 6.5rem;
    min-width: 6.5rem;
    padding: 2rem;
    margin-left: 4.75rem;
    border-right: solid 5px var(--main);
    color: var(--main);
    font-weight: 800;
    text-align: right;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 2;
    margin: 2rem;
}

.projects .flexItem{
    flex-basis: calc(50% - 1em);
    margin: .5em;
    order: 2;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.projects .imgContainer{
    background-image: url(./images/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
    background-size: cover;
    min-height: 6rem;
    display: flex;
    align-items: flex-end;
}

.projects .project1 .imgContainer{
    background-image: url(./images/HungrybeatsScreenshot.png);
    background-size: cover;
    min-height: 6rem;
    display: flex;
    align-items: flex-end;
}

.projects .project2 .imgContainer{
    background-image: url(https://user-images.githubusercontent.com/108207472/228713163-88712c98-9123-4823-a41b-3d8bc562540c.gif);
    background-size: cover;
    min-height: 6rem;
    display: flex;
    align-items: flex-end;
}

.projects .project3 .imgContainer{
    background-image: url(https://user-images.githubusercontent.com/108207472/228713163-88712c98-9123-4823-a41b-3d8bc562540c.gif);
    background-size: cover;
    min-height: 6rem;
    display: flex;
    align-items: flex-end;
}

.projects .project4 .imgContainer{
    background-image: url(https://user-images.githubusercontent.com/108207472/228713163-88712c98-9123-4823-a41b-3d8bc562540c.gif);
    background-size: cover;
    min-height: 6rem;
    display: flex;
    align-items: flex-end;
}

.projects .imgContainer:hover{
    box-sizing: border-box;
    border: solid .4rem var(--main);
    transition: all 100ms;
}

.imgContainer span{
    background-color: var(--mainFade);
    padding: .5rem .5rem .75rem .75rem;
}

.projects .flexItem:first-child{
    order: 1;
    flex-basis: 100%;
}

.project1 .imgContainer{
    min-height: 12rem;
}

/* Get In Touch */

.getInTouch{
    display: flex;
    justify-content: space-between;
}

.getInTouch .flexContainer{
    justify-content: flex-start;
}

.getInTouch .flexItem{
    margin: .5em;
    text-decoration: none;
    color: var(--main);
    font-size: 20px;
    font-weight: 500;
    flex-grow: 1;
    position: relative;
}

.getInTouch .flexContainer .link:hover::after{
    content: '';
    width: inherit;
    height: .125rem;
    position: absolute;
    top: 1.25rem;
    left: 0;
    background-color: var(--main);
}

/* footer */

footer{
    text-align: center;
}

@media screen and (max-width: 900px) {
    .navContainer{
        flex-direction: column;
    }

    .nav{
        background-color: var(--secondary);
        padding: .5em 5em;
        margin: .125em;
        white-space: nowrap;
    }

    .aboutMe{
        padding-top: 5em;
    }

    .aboutMe img{
        display: none;
    }

    .aboutMe p{
        /* border-bottom: solid 5px var(--main); */
        border-left: none;
    }

    #projects{
        height: 1px;
    }

    .projects{
        flex-direction: column;
        align-items: center;
    }

    h2{
        border-right: none;
        border-bottom: solid 5px var(--main);
        margin-left: 0;
        max-width: fit-content;
        padding: 2rem 10rem;
    }

    .getInTouch{
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 600px){
    .projects .flexContainer{
        flex-direction: column;
        margin: 1rem;

    }

    .projects .flexItem{
        min-width: 400px;
    }
}